<div class="col-sm-3">
    <div class="service-box text-center" ng-style="{'background-image':'url({{selectedService.logo}})'}">
    </div>
    <nav class="service-menu text-center">
      <ul>
        <li ng-repeat="service in services"><a ui-sref="services.detail({slug: service.slug})" ng-class="{'active': service.slug == selectedService.slug}">{{service.name}}</a></li>
        <li ng-click="toggleContact()" class=""><a href="#">Contact</a></li>
      </ul>
    </nav>
</div>

<div class="col-sm-9 detail">
    <div class="service-banner text-center" ng-style="{'background-image':'url({{selectedService.banner}})'}">
        <div class="banner-text">
            <h1>{{selectedService.name}}</h1>
            <h6>{{selectedService.subHead}}</h6>
        </div>
    </div>
    <div class="service-content padded-bottom">
      <p class="new-lines">{{selectedService.desc}}</p>
    </div>
    <div class="row sample-imgs">
      <div class="col-sm-6">
          <div ng-if="branding" class="brand">
              <img ng-src="{{selectedService.img1}}" class="img-responsive brand"/>
              <div class="overlay"><h2 class="white">View</h2></div>
          </div>
          <div ng-if="!branding">
              <img ng-src="{{selectedService.img1}}" class="img-responsive" />
          </div>

      </div>
      <div class="col-sm-6">
          <div ng-if="branding" class="brand">
              <img ng-src="{{selectedService.img2}}" class="img-responsive"/>
              <div class="overlay" ng-click="toggleBook()"><h2 class="white">View</h2></div>
          </div>
          <div ng-if="!branding">
              <img ng-src="{{selectedService.img2}}" class="img-responsive" />
          </div>
      </div>
    </div>
</div>

<global-modal show="bookShow" width="90%" height="90%">
    <div class="row">
        <div class="col-xs-12">

            <button ng-click="nextPage()" class="pull-left">Prev</button>
            <button ng-click="nextPage()" class="pull-right">Next</button>

            <div class='hold'>
                <div class='shadow'></div>
                <div id='lower' class='page-holder'>
                    <div class='page'>
                      <div class='front' style="background-image: url('https://instagram.fmaa1-1.fna.fbcdn.net/t51.2885-15/e35/14583414_346715432338140_5899818561005682688_n.jpg')">
                        <div class='back-holder'>
                          <div class='back' style="background-image: url('https://instagram.fmaa1-1.fna.fbcdn.net/t51.2885-15/e35/14583414_346715432338140_5899818561005682688_n.jpg')"></div>
                        </div>
                      </div>
                    </div>
                </div>
                <div id='upper' class='page-holder' ng-class="{'rotate': rotate}">
                    <div class='page'>
                      <div class='front' style="background-image: url('http://www.zweezle.in/blog/wp-content/uploads/2015/12/Photography.jpeg')">
                        <div class='back-holder'>
                          <div class='back' style="background-image: url('https://instagram.fmaa1-1.fna.fbcdn.net/t51.2885-15/e35/14709426_1170464523009535_4829487881636544512_n.jpg')"></div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</global-modal>
