<page-banner bg-image="../../img/bgs/services-bg.png"></page-banner>

<div id="service-page" class="container">
  <div class="row">
    <div class="col-sm-9 detail" ui-view>
      <div class="service-banner text-center">
        <h3>HOME</h3>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="service-box text-center" ng-style="{'background-image':'url({{selectedService.logo}})'}">
            <h3 class="padded-top">Contact Info</h3>
            <p>724.554.1455</p>
        </div>
        <nav class="service-menu text-center">
          <ul>
            <li ng-repeat="service in services"><a ui-sref="services.detail({name: service.name})">{{service.name}}</a></li>
          </ul>
        </nav>
    </div>
  </div>
</div>
