<div class="col-sm-9 detail">
    <div class="service-banner text-center" ng-style="{'background-image':'url({{selectedService.banner}})'}">
        <div class="banner-text">
            <h1>{{selectedService.name}}</h1>
            <h6>{{selectedService.subHead}}</h6>
        </div>
    </div>
    <div class="service-content padded-bottom">
      <p>{{selectedService.desc}}</p>
    </div>
    <div class="row sample-imgs">
      <div class="col-sm-6">
        <img src="img/service-sample.png" class="img-responsive" />
      </div>
      <div class="col-sm-6">
        <img src="img/service-sample2.png" class="img-responsive" />
      </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="service-box text-center" ng-style="{'background-image':'url({{selectedService.logo}})'}">
    </div>
    <nav class="service-menu text-center">
      <ul>
        <li class="cta"><a ui-sref="contact">Contact</a></li>
        <li ng-repeat="service in services"><a ui-sref="services.detail({slug: service.slug})">{{service.name}}</a></li>
      </ul>
    </nav>
</div>
