<div class="col-sm-3">
    <div class="service-box text-center" ng-style="{'background-image':'url({{selectedService.logo}})'}">
    </div>
    <nav class="service-menu text-center">
      <ul>
        <li ng-repeat="service in services"><a ui-sref="services.detail({slug: service.slug})" ng-class="{'active': service.slug == selectedService.slug}">{{service.name}}</a></li>
        <li ng-click="toggleContact()" class="cta"><a href="#">Contact</a></li>
      </ul>
    </nav>
</div>

<div class="col-sm-9 detail">
    <div class="service-banner text-center" ng-style="{'background-image':'url({{selectedService.banner}})'}">
        <div class="banner-text">
            <h1>{{selectedService.name}}</h1>
            <h6>{{selectedService.subHead}}</h6>
        </div>
    </div>
    <div class="service-content padded-bottom">
      <p class="new-lines">{{selectedService.desc}}</p>
    </div>
    <div class="row sample-imgs">
      <div class="col-sm-6">
        <img ng-src="{{selectedService.img1}}" class="img-responsive" />
      </div>
      <div class="col-sm-6">
        <img ng-src="{{selectedService.img2}}" class="img-responsive" />
      </div>
    </div>
</div>
