<page-banner bg-image="../../img/bgs/edesign-bg.png"></page-banner>

<section id="ed">
  <div class="hero-text">
    <h1>e-design</h1>
    <!-- <h3>Principal<span class="end-border">  _______</span></h3> -->
  </div>
  <div class="projects container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 about-ed">
        <h3 class="forest padded-vertical">What is E-design</h3>
        <p class="padded-bottom">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <nav class="submenu">
          <ul>
            <li><a href="#">All Projects</a></li>
            <li><a href="#">Commercial</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="#">Exterior</a></li>
            <li><a href="#">Flooring</a></li>
            <li><a href="#">Other</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="project">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="project">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="project">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="project">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="project">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="project">

        </div>
      </div>
    </div>

  </div>
</section>
