<form id="signup" name="questioniareForm">

    <div class="row" ng-repeat="question in questions">
        <div class="col-xs-12 slide">
            <p class="question">{{question.question}}</p>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12 slide">
                <p>Thank you for helping us get a sense of your design style! Please enter your your information so that we may contact you with a personalized design.</p>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" name="name" ng-model="formData.name" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" name="email" ng-model="formData.email" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label for="note">Leave a Note</label>
                  <textarea name="note" ng-model="formData.note" class="form-control"></textarea>
                </div>
                <p>E-Design from anywhere!<br />...Locally serving the greater Seattle area</p>
            </div>
    </div>


    <div class="form-group pull-right">
      <input type="submit" class="btn btn-lg btn-outline white" ng-disabled="questioniareForm.$invalid" ng-click="submitQuestionaire()" value="Submit"/>
    </div>
</form>
