<form id="questionaire" name="questioniareForm">

    <div class="row" ng-repeat="question in questions" ng-hide="!isCurrentQIndex($index)">
        <div class="col-xs-12 slide" ng-class="{{question.id}}">
            <p class="question">{{question.question}}</p>
            <div ng-show="question.type == 'radio'">
                <div class="radio" ng-class="question.cols" ng-repeat="answer in question.answers">
                  <label><input type="radio" name="{{answer}}" value="{{answer}}">
                      <img class="img-responsive" ng-src="/img/question/{{answer}}.png">
                  </label>
                </div>
            </div>
            <div ng-show="question.type == 'checkbox'">
                <div class="checkbox" ng-repeat="answer in question.answers">
                    <label><input type="checkbox" value="{{answer}}" />{{answer}}</label>
                </div>
            </div>
            <div ng-show="question.type == 'text'">
                <p>Thank you for helping us get a sense of your design style! Please enter your your information so that we may contact you with a personalized design.</p>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" name="name" ng-model="formData.name" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" name="email" ng-model="formData.email" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label for="note">Leave a Note</label>
                  <textarea name="note" ng-model="formData.note" class="form-control"></textarea>
                </div>
                <p>E-Design from anywhere!<br />...Locally serving the greater Seattle area</p>
                <div class="form-group pull-right">
                  <input type="submit" class="btn btn-lg btn-outline white" ng-disabled="questioniareForm.$invalid" ng-click="submitQuestionaire()" value="Submit"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <btn class="btn btn-danger pull-left" ng-click="prevQ()" ng-hide="currentQuestion == '0'">Prev</btn>
            <btn class="btn btn-primary pull-right" ng-click="nextQ()" ng-hide="currentQuestion == (questions.length-1)">Next</btn>
        </div>
    </div>

    <!-- <div class="row">
            <div class="col-xs-12 slide">
                <p>Thank you for helping us get a sense of your design style! Please enter your your information so that we may contact you with a personalized design.</p>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" name="name" ng-model="formData.name" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" name="email" ng-model="formData.email" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label for="note">Leave a Note</label>
                  <textarea name="note" ng-model="formData.note" class="form-control"></textarea>
                </div>
                <p>E-Design from anywhere!<br />...Locally serving the greater Seattle area</p>
            </div>
    </div> -->
</form>
