<page-banner bg-image="../../img/bgs/contact-banner.jpg"></page-banner>

<div class="contact padded-vert-2x" id="contact">

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="black">E-design from anywhere…Locally serving the greater Seattle area!</h3>
            </div>
            <div class="col-sm-6 padded-bottom">
                <img src="../../img/contact-map.jpg" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <form name="form.contactForm" data-toggle="validator" role="form" data-ng-submit="sendMail()">

              <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" name="name" data-ng-model="contactName" class="form-control" id="user-name" placeholder="Name" data-error="Please write your name" required>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                      <label for="company">Company:</label>
                      <input type="text" name="company" data-ng-model="contactCompany" class="form-control" id="user-company" placeholder="Company">
                    </div>

              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label for="email-address">Email:</label>
                    <input type="email" name="email" data-ng-model="contactEmail" class="form-control required" id="user-email" placeholder="Email Address" data-error="Please leave your email" required>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control required" data-ng-model="contactMessage" name="message" id="user-message" rows="4" placeholder="Message" data-error="Whats on your mind?" required></textarea>
                    <div class="help-block with-errors"></div>
                </div>

                  <button type="submit" class="btn questionaire pull-right">Submit</button>
              </div>

          </form>
        </div>
    </div>

</div><!--end contact-->
