<page-banner></page-banner>

<section class="cta">
  <div class="container">
    <div class="row col-xs-12">
      <h3>Hayley Bagwell <span class="forest">Interior Design</span></h3>
    </div>
  </div>
</section>

<section id="about">
  <div class="hero-text">
    <h1>designer</h1>
    <h3>Principal<span class="end-border">  _______</span></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="background" ng-class="{'active': isActive}">
        <h3 class="black padded-bottom">Background .....Super dERR!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-xs-3">
        <div class="social pull-right">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
        <div class="employee-box">
            <img src="../../img/hb-profile.png" class="img-responsive"/>
          <div class="employee-details padded">
            <h4 class="black padded-bottom">Hayley Bagwell</h4>
            <h6 class="black">Pricipal/Owner</h6>
            <i class="fa fa-plus forest" ng-click="expandBio()" ng-class="{'fa-minus': minusSign}"></i>

          </div>
        </div>
      </div>



    </div>
  </div>
</section>
