<header id="home-banner">
  <h1 class="black-shadow text-center">Hayley Bagwell <span class="forest">Interior Design</span></h1>
  <div class="separator"></div>
  <div class="separator reverse"></div>
</header>
