<header id="home-banner">
  <div class="container">
    <div class="row col-xs-8 col-xs-offset-2 text-center black-shadow banner-head">
      <h1>Hayley Bagwell <span class="forest">Interior Design</span></h1>
    </div>
  </div>
  <div class="separator"></div>
  <div class="separator reverse"></div>
</header>


<section id="welcome">
  <div class="hero-text vertical left">
    <h1>hello</h1>
    <h3>Our Firm<span class="end-border">  _______</span></h3>
  </div>
  <div class="container small">
    <div class="row">
      <div class="col-xs-8 welcome-text">
        <div class="green-box" target-height>
          <img class="img-responsive hb-icon" src="img/house-pen-icon.png"/>
          <h3 class="forest padded-vertical">Welcome</h3>
          <p>We are a small firm specializing in e-design, space planning, branding, residential design and custom furniture design.  We assemble spaces that emulate and amplify the identity of our the clients.</p>
          <a href="#">View More</a>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-4 welcome-img" >
        <img class="img-responsive" src="img/spare-bed-home.png" box-height/>
      </div>
    </div>
  </div>
</section>


<section id="e-design">
  <div class="hero-text vertical right">
    <h1>e-design</h1>
    <h3>Projects<span class="end-border">  _______</span></h3>
  </div>
  <div class="container small">
    <div class="row">
      <div class="col-sm-6 left">
        <img class="img-responsive" src="img/living-room-home.png" />
      </div>
      <div class="col-sm-6 right">
        <div class="dark-grey box text-center">
          <div class="text-box">
            <h3>What is E-Design</h3>
            <h5 class="forest padded-vertical">E-DESIGN IS A MORE
AFFORDABLE WAY TO DESIGN A SPACE.  WITH YOUR HELP, WE CAN PULL TOGEHER PRODUCTS THAT YOU WILL LOVE TO FURNISH YOUR SPACE.</h5>
            <a ui-sref="e-design" class="btn btn-outline">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 left">
        <div class="grey box text-center">
          <div class="text-box">
            <h3 class="padded-bottom">Englewood Project</h3>
            <h5 class="forest">Residential Design</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 right">
        <img class="img-responsive border-dark-right" src="img/living-room-dimensions.png" />
      </div>
    </div>
  </div>
</section>

<div class="divider text-center">
  <h3>Hayley Bagwell Designs Are Thoughful and Ecletic</h3>
</div>

<section id="services">
  <div class="hero-text">
    <h1>services</h1>
    <h3>What We Do<span class="end-border">  _______</span></h3>
  </div>
  <div class="container small">
    <div class="row">
      <div ng-repeat="service in services">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
          <div class="col-sm-4 service">
            <div class="hexagon-grey"></div>
            <div class="hexagon-black">
              <a ui-sref="services.detail({slug: service.slug})"><img class="img-responsive {{service.title}}" ng-src="{{service.logo}}"/></a>
            </div>

            <h3 class="forest padded-bottom">{{service.name}}</h3>
            <p>{{service.desc}}</p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>CTA HERE</h3>
      </div>
    </div>
  </div>
</section>
