<% layout('layout') -%>
<header ng-controller="NavController">
  <nav>
      <div id="navbar-contact" class="black-shadow">
          <!-- <a href="tel:1-724-554-1455"><span class="icon icon-Phone2"></span><h6> 724.554.1455</h6></a>
          <a href="mailto:haybaglwell@gmail.com"><span class="icon icon-Plaine"></span> <h6>haybagwell@gmail.com</h6></a> -->
          <div class="social">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-houzz"></i></a>
          </div>
      </div>
      <div class="navbar-menu black-shadow">

        <a class="logo" ui-sref="home"><h2>HB</h2><h3>Hayley Bagwell<br />Interior Design</h3></a>

        <ul class="main-menu" ng-class="{'active':selected}">
          <li><a href="/">Home</a></li>
          <li><a ui-sref="e-design">E-Design</a></li>
          <li><a ui-sref="services.detail({slug: 'interior-design'})">Services</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a href="#" ng-click="toggleContact()">Contact</a></li>
        </ul>

        <a href="#" id="menu-icon" ng-click="toggleMenu()" ng-class="{'active':selected}">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

      </div>
  </nav>
  <global-modal show="contactShow" width="60%" height="75%">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <h3 class="black text-center padded-bottom">Get it touch with Hayley Bagwell Interior Design</h3>
              <form id="contact" ng-submit="sendContact()">
                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" ng-model="formData.name" class="form-control" required/>
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" ng-model="formData.email" class="form-control" required/>
                  </div>
                  <div class="form-group">
                    <label for="note">Leave a Note</label>
                    <textarea name="note" ng-model="formData.note" class="form-control"></textarea>
                  </div>
                  <p>E-Design from anywhere!<br />...Locally serving the greater Seattle area</p>
                  <div class="form-group pull-right">
                    <input type="submit" class="btn btn-lg btn-outline" ng-disabled="contact.$invalid" value="Submit"/>
                  </div>
              </form>
          </div>
      </div>
  </global-modal>
</header>


<section id="content" ng-cloak>
  <div ui-view></div>
</section>


<footer>
  <div class="container footer-menu">
    <div class="row">
            <div class="col-sm-4">
                <div class="logo">
                  <a ui-sref="home"><h2>HB</h2><h3>Hayley Bagwell<br />Interior Design</h3></a>
                </div>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                  <li><a ui-sref="e-design">E-Design</a></li>
                  <li><a ui-sref="services.detail({slug: 'interior-design'})">Services</a></li>
                  <li><a ui-sref="about">About Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="social-footer list-unstyled">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>

    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="copywrite small">Copywrite &copy;2017 All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
