<% layout('layout') -%>
<header>
  <nav>
      <div id="navbar-contact" class="black-shadow">
          <h6 class="phone"><span class="icon icon-Phone2"></span><a href="tel1-724-554-1455"> 724.554.145</a></h6>
          <h6 class="email"><span class="icon icon-Plaine"></span><a href="mailto:haybaglwell@gmail.com"> haybagwell@gmail.com</a></h6>
          <div class="social">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
      </div>
      <div class="navbar-menu black-shadow">
        <div class="logo">
            <a ui-sref="home"><h2>HB</h2><h3>Hayley Bagwell<br />Interior Design</h3></a>
        </div>
        <ul class="main-menu">
          <li><a href="/">Home</a></li>
          <li><a ui-sref="e-design">E-Design</a></li>
          <li><a ui-sref="services.detail({slug: 'interior-design'})">Services</a></li>
          <li><a ui-sref="about">About Us</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </div>
  </nav>
</header>


<section id="content" ng-cloak>
  <div ui-view></div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar-menu">
          <div class="logo">
            <a ui-sref="home"><h2>HB</h2><h3>Hayley Bagwell<br />Interior Design</h3></a>
          </div>
          <ul class="main-menu">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="e-design">E-Design</a></li>
            <li><a ui-sref="services.detail({slug: 'interior-design'})">Services</a></li>
            <li><a ui-sref="about">About Us</a></li>
            <li class="pull-right"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="pull-right"><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="copywrite small">Copywrite &copy;2017 All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<script src="/dist/js/vendor.min.js" aysnc></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" aysnc></script>
<script src="/dist/js/app.min.js"></script>
