<!DOCTYPE html>
<html lang="en" ng-app="hb-interiors">
    <head ng-controller="MetaController">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-bind="Meta.title() + ' | Hayley Bagwell Interior Design'"></title>
        <meta name="description" content="{{ Meta.description() }}">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/styles/style.css">
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <base href="/">
    </head>
    <body>

        <%- body %>

        <script src="/dist/js/vendor.min.js" aysnc></script>
        <script src="/dist/js/app.min.js"></script>
    </body>
</html>
