<!DOCTYPE html>
<html lang="en" ng-app="hb-interiors">
    <head ng-controller="MetaController">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-bind="Meta.title() + ' | Cedar + Sage Affordable Online Interior Design and Styling Studio'"></title>
        <meta name="description" content="{{ Meta.description() }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/dist/styles/style.css">
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <base href="/">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108364705-1"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-108364705-1');
        </script>
        <meta name="google-site-verification" content="gDm59PElDmUh2aYDtM49wU-n0eg0OMn8q8Nd5Hhf0jg" />

    </head>

        <%- body %>

        <script src="/dist/js/vendor.min.js" aysnc></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/dist/js/app.min.js"></script>

        <body>
    </body>
</html>
