#ed{
  position: relative;
  .hero-text{
    left: 20px;
  }
  .container{
      padding-top: 150px;
  }
  .text {
      h5{
          padding-top: 1em;
          padding-bottom: 1em;
      }
      ul {
         padding-left: 20px;
      }
  }
 .img-desc{
     position: absolute;
     transform: rotate(-90deg);
	 transform-origin: left top 0;
     color: $black;
     left: -15px;
     top: 60%;
 }
}
.submenu {
  text-align: center;
  li {
    display: inline-block;
    padding: 25px 15px;
    a{
      color: $forest;
    }
  }
}
#questionaire{
    position: relative;
    .controls{
        .fa{
            position: absolute;
            top: -300px;
            font-size: 70px;
            color: $light-black;
        }
        .next{
            right: 0;
        }
        .prev{
            left: 0;
        }
    }
    .q2, .q4, {
        p {
            display: none;
        }
    }
    label > input[type="radio"] {
        visibility: hidden;
        position: absolute;
    }
    label > input[type="radio"] + img {
        cursor: pointer;
        border: 4px solid transparent;
    }
    label > input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }
    label > input[type="checkbox"] + img {
        cursor: pointer;
        border: 4px solid transparent;
    }
    label > input:checked + img {
        border: 4px solid $forest;
        border-radius: 4px;
    }
    .checkbox+.checkbox, .radio+.radio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .radio.col-sm-3{
        &:first-child, &:nth-child(4){
            margin-left: 12.4999999%;
        }
    }
    .checkbox.col-sm-3{
        &:first-child, &:nth-child(4){
            margin-left: 13.4999999%;
        }
    }
    .checkbox.col-sm-1{
        &:first-child, &:nth-child(9){
            margin-left: 16.666664%;
        }
    }
    .checkbox, .radio p.lead {
        text-transform: capitalize;
    }
    .checkbox {
        label{
            padding-left: 0;
            width: 100%;
        }
        .color{
            width: 100%;
            height: 150px;
            &.Black {
                border-radius: 4px;
                background-color: black;
            }
            &.Grey {
                border-radius: 4px;
                background-color: grey;
            }
            &.Red {
                border-radius: 4px;
                background-color: red;
            }
            &.Orange {
                border-radius: 4px;
                background-color: orange;
            }
            &.Yellow {
                border-radius: 4px;
                background-color: yellow;
            }
            &.Lime {
                border-radius: 4px;
                background-color: lime;
            }
            &.Green {
                border-radius: 4px;
                background-color: green;
            }
            &.Aqua {
                border-radius: 4px;
                background-color: aqua;
            }
            &.Turquoise  {
                border-radius: 4px;
                background-color: Turquoise;
            }
            &.Slate {
                border-radius: 4px;
                background-color: #333;
            }
            &.Blue {
                border-radius: 4px;
                background-color: blue;
            }
            &.Purple {
                border-radius: 4px;
                background-color: purple;
            }&.Pink {
                border-radius: 4px;
                background-color: pink;
            }
            &.Brown {
                border-radius: 4px;
                background-color: brown;
            }
            &.Cream {
                border-radius: 4px;
                background-color: Beige;
            }
            &.White {
                border: 1px solid $light-black;
                border-radius: 4px;
                background-color: white;
            }
    }




    }
}
