#ed{
  position: relative;
  .hero-text{
    left: 20px;
  }
  .container{
      padding-top: 150px;
  }
  .text {
      h5{
          padding-top: 1em;
          padding-bottom: 1em;
      }
      ul {
         padding-left: 20px;
      }
  }
 .img-desc{
     position: absolute;
     transform: rotate(-90deg);
	 transform-origin: left top 0;
     color: $black;
     left: -15px;
     top: 60%;
 }
}
.submenu {
  text-align: center;
  li {
    display: inline-block;
    padding: 25px 15px;
    a{
      color: $forest;
    }
  }
}
#questionaire{
    position: relative;
    .controls{
        .fa{
            position: absolute;
            top: -300px;
            font-size: 70px;
            color: $light-black;
        }
        .next{
            right: 0;
        }
        .prev{
            left: 0;
        }
    }
    .q2, .q4, {
        p {
            display: none;
        }
    }
    label > input[type="radio"] {
        visibility: hidden;
        position: absolute;
    }
    label > input[type="radio"] + img {
        cursor: pointer;
        border: 4px solid transparent;
    }
    label > input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }
    label > input[type="checkbox"] + img, label > input:checked + .color {
        cursor: pointer;
        border: 4px solid transparent;
    }
    label > input:checked + img, label > input:checked + .color {
        border: 4px solid $forest;
        border-radius: 4px;
    }
    .checkbox+.checkbox, .radio+.radio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .radio p.lead, .checkbox p.lead {
        text-transform: capitalize;
        transform: rotate(-45deg);
        position: relative;
        left: 100px;
        top: -85px;
    }
    .col-color{
        width: 12%;
    }
    .checkbox {
        label{
            padding-left: 0;
            width: 100%;
        }
        .color{
            width: 100%;
            height: 150px;
            &.Black {
                border-radius: 4px;
                background-color: black;
            }
            &.Grey {
                border-radius: 4px;
                background-color: #c9c3c3;
            }
            &.Red {
                border-radius: 4px;
                background-color: #d44d4d;
            }
            &.Orange {
                border-radius: 4px;
                background-color: #ee9731;
            }
            &.Yellow {
                border-radius: 4px;
                background-color: #eee331;
            }
            &.Lime {
                border-radius: 4px;
                background-color: #62a421;
            }
            &.Green {
                border-radius: 4px;
                background-color: #197f38;
            }
            &.Aqua {
                border-radius: 4px;
                background-color: #9febea;
            }
            &.Turquoise  {
                border-radius: 4px;
                background-color: #50a3a2;
            }
            &.Slate {
                border-radius: 4px;
                background-color: #5087a3;
            }
            &.Blue {
                border-radius: 4px;
                background-color: #1f41c1;
            }
            &.Purple {
                border-radius: 4px;
                background-color: #771fc1;
            }&.Pink {
                border-radius: 4px;
                background-color: #eb2ad7;
            }
            &.Brown {
                border-radius: 4px;
                background-color: #534c02;
            }
            &.Cream {
                border-radius: 4px;
                background-color: #f2f1e7;
            }
            &.White {
                border: 1px solid $light-black;
                border-radius: 4px;
                background-color: white;
            }
    }




    }
}
