@font-face {
    font-family: 'oswald-bold';
    src: url('../../css/fonts/oswald/oswald-bold.woff2') format('woff2'),
         url('../../css/fonts/oswald/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald-regular';
    src: url('../../css/fonts/oswald/oswald-regular.woff2') format('woff2'),
         url('../../css/fonts/oswald/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'work-sans';
    src: url('../../css/fonts/ws/worksans-regular-webfont.woff2') format('woff2'),
         url('../../css/fonts/ws/worksans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gs-ultra-bold';
    src: url('../../css/fonts/gillsans/gill-sans-ultra-bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'rollandinemilie';
  src: url('../../css/fonts/rollininemile/rollandinemilie.woff2') format('woff2'),
       url('../../css/fonts/rollininemile/rollandinemilie.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body{
  font-family: $body-text, Helvetica, Arial;
  color: #000;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	text-transform: uppercase;
	font-family: $header-text, Helvetica, Arial;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
}
h3 {
  font-size: 22px;
}
ul {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.forest {
  color: $forest;
}
.black-shadow{
  background-color: rgba(26, 26, 26, 0.85);
}
