
html, body{
  font-family: $body-text, Helvetica, Arial;
  color: #000;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	text-transform: uppercase;
	font-family: $header-text, Helvetica, Arial;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 48px;
}
h3 {
  font-size: 22px;
}
ul {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.forest {
  color: $forest;
}
.black{
  color: $black;
}
.black-shadow{
  background-color: rgba(26, 26, 26, 0.85);
}
.hero-text {
  position: absolute;
  &.left{
    left: -50px;
    bottom: 30%;
  }
  &.right{
    right: -150px;
    bottom: 0;
  }
  h1{
    color: $light-green;
    font-family: $accent-text;
    font-size: 100px;
    text-transform: lowercase;
  }
  &.vertical{
    transform: rotate(-90deg);
   }
  h3{
    position: absolute;
    top: 45%;
    left: 40%;
    color: $forest;
    .end-border{
      color: $forest;
      font-weight: bold;
      position: relative;;
      bottom: 10px;
    }
  }
}

// PADDING
.padded{
  padding: 1em;
}
.padded-vertical {
  padding: 1em 0;
}
.padded-horz {
  padding-bottom: 0 1em;
}
.padded-bottom {
  padding-bottom: 1em;
}
.padded-top {
  padding-bottom: 1em;
}
.green-box{
  border: 4px solid $med-green;
  padding-top: 30px;
  padding-left: 30px;
}
section.padded-bottom{
  margin-bottom: 200px;
}

// CONTAINER
.container.small {
  @include mq($S){
    width: 650px;
  }
  @include mq($M){
    width: 870px;
  }
  @include mq($L){
    width: 970px;
  }
}

// BUTTONS
.btn-outline{
  color: $forest;
  border: 2px solid $forest;
  border-radius: 4px;
  background-color: transparent;
  &:hover {
    color: #fff;
    border: 2px solid #fff;
  }
}

.cta {
  background-color: #303030;
  color: white;
  .row{
    height: 150px;
  }
  h3{
    @include vertical-align;
  }
}

//PAGE BANNER
.page-banner{
  height: 300px;
  background: url('../../img/bgs/radiator-banner.png') no-repeat center center;
  background-size: cover;
}

// FOOTER
footer{
  background-color: #f7f7f7;
  position: relative;
  .navbar-menu{
    width: 100%;
    position: relative;
    left: 0;
    .logo{
      padding-left: 0;
      h3{
        color: $black;
      }
    }
    .main-menu {
      li a{
        color: $black;
      }
    }
  }
  .social{
    text-align: right;
    i {
      font-size: 24px;
      color: $black;
    }
    &:after{
      content: '';
    }
  }
}
