
html, body{
  font-family: $body-text, Helvetica, Arial;
  color: #000;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	text-transform: uppercase;
	font-family: $header-text, Helvetica, Arial;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
h1{
  font-size: 48px;
}
h3 {
  font-size: 22px;
}
h5{
    font-size: 16px;
}
nav {
    ul {
        margin: 0;
        padding: 0;
    }
    li{
      list-style: none;
    }
}
a {
  color: $forest;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.forest {
  color: $forest;
}
.white{
    color: white;
}
.black{
  color: $black;
}
.black-shadow{
  background-color: rgba(26, 26, 26, 0.85);
}
.hero-text {
  position: absolute;
  &.left{
    left: -75px;
    bottom: 30%;
  }
  &.right{
    right: -150px;
    bottom: 0;
  }
  h1{
    color: $light-green;
    font-family: $accent-text;
    font-size: 100px;
    text-transform: lowercase;
  }
  &.vertical{
    transform: rotate(-90deg);
   }
  h3{
    position: absolute;
    top: 45%;
    left: 40%;
    color: $forest;
    .end-border{
      color: $forest;
      font-weight: bold;
      position: relative;;
      bottom: 10px;
    }
  }
}
.border-dark-right{
    border-right: 1px solid $light-black;
}

// PADDING
.padded{
  padding: 1em;
}
.padded-vertical {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padded-vert-2x{
    padding-top: 2em;
    padding-bottom: 2em;
}
.padded-horz {
  padding-bottom: 0 1em;
}
.padded-bottom {
  padding-bottom: 1em;
}
.padded-top {
  padding-top: 1em;
}
.green-box{
  border: 4px solid $med-green;
  padding-top: 30px;
  padding-left: 30px;
}
section.padded-bottom{
  margin-bottom: 200px;
}

// CONTAINER
.container.small {
  @include mq($S){
    width: 650px;
  }
  @include mq($M){
    width: 870px;
  }
  @include mq($L){
    width: 970px;
  }
}

// BUTTONS
.btn {
    border-radius: 0px;
}
.btn-outline{
  color: $forest;
  border: 3px solid $forest;
  background-color: transparent;
  margin: 0 auto;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: $forest;
    transition: all 0.25s ease-in;
  }
  &.white{
      background-color: #fff;
      color: $forest;
      border: none;
  }
}

.caps {
    text-transform: uppercase;
}
.cta {
  background-color: $forest;
  color: white;
  .col-xs-12{
    height: 150px;
  }
  h3{
    @include vertical-align;
  }
}

//PAGE BANNER
.page-banner{
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  //background: url('../../img/bgs/radiator-banner.png') no-repeat center center;
  background-size: cover;
}

// FOOTER
footer{
  background-color: #f7f7f7;
  position: relative;
  .navbar-menu{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    .logo{
      padding-left: 0;
      h3{
        color: $black;
      }
    }
    .main-menu {
      li a, .fa{
        color: $black;
        &:hover{
          color: $forest;
        }
      }
    }
  }
  .fa {
    font-size: 24px;
  }

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
