
#home-banner{
  position: relative;
  height: 700px;
  background: url('../../img/bgs/cocktail-table.jpg') no-repeat center center;
  background-size: cover;
  .banner-head{
    padding: 10px 0;
    position: relative;
    top: 400px;
    border-top-left-radius: 40px;
  }
  .separator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom right, transparent, transparent 50%, white 50%, white);
  }
  .separator.reverse {
    transform: rotateY(180deg);
  }
}
#welcome {
  position: relative;
  .hb-icon{
    width: 100px;
  }
  .welcome-text{
    p {
      width: 45%;
    }
  }
  .welcome-img{
    top: -300px;
    img{
        //width: 500px;
    }
  }
}
#e-design{
    margin-top: -100px;
  position: relative;
  .hero-text{
    bottom: 205px;
  }
  .col-sm-5{
    .box{
      height: 310px;
      @include mq($M){
        height: 420px;
      }
      @include mq($L){
        height: 389px;
      }
      .text-box{
        padding: 0 4em;
        @include vertical-align;
      }
    }
    &.left{
      padding-right: 0;
      padding-left: 0;
      @include mq($S){
        padding-left: 15px;
      }
    }
    &.right {
      padding-left: 0;
      padding-right: 0;
      @include mq($S){
        padding-right: 15px;
      }
    }
  }
  .dark-grey{
    background-color: #303030;
  }
  .grey{
    background-color: #4c4c4c;
  }
}
.divider{
  width: 100%;
  margin-bottom: 2em;
  background: $forest;
  padding: 40px 0;
}
#services {
  position: relative;
  padding-bottom: 100px;
  .hero-text{
    left: 20px;
  }
  .row{
    margin-top: 130px;
    h3{
      margin-top: -100px;
    }
  }
  .service{
    position: relative;
    padding-top: 20px;
  }
  .hexagon-black {
    top: -130px;
    position: relative;
    width: 150px;
    height: 86.60px;
    background-color: $light-black;
    margin: 43.30px 0;
    img{
      margin: 0 auto;
      width: 65px;
      padding-top: 10px;
      &.E-Design{
        padding-top: 25px;
      }
      &.Branding{
        width: 50px;
        padding-top: 10px;
      }
      &.Space{
        margin: 0 auto 0 25%;
        width: 60px;
      }
    }
    &:before, &:after{
      content: "";
      position: absolute;
      width: 0;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
    }
    &:before{
      bottom: 100%;
      border-bottom: 43.30px solid $light-black;
    }
    &:after{
      top: 100%;
      width: 0;
      border-top: 43.30px solid $light-black;
    }
    &:hover{
      background-color: $forest;
      &:before{
        border-bottom: 43.30px solid $forest;
      }
      &:after{
        border-top: 43.30px solid $forest;
      }
    }
  }
  .hexagon-grey {
    position: relative;
    left: 20px;
    width: 150px;
    height: 86.60px;
    background-color: #ddd;
    margin: 43.30px 0;
    &:before, &:after{
      content: "";
      position: absolute;
      width: 0;
      border-left: 75px solid transparent;
      border-right: 75px solid transparent;
    }
    &:before{
      bottom: 100%;
      border-bottom: 43.30px solid #ddd;
    }
    &:after{
      top: 100%;
      width: 0;
      border-top: 43.30px solid #ddd;
    }
  }
}
