#service-page {
  padding-top: 100px;
  .service-banner{
    height: 250px;
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-text{
        @include vertical-align;
    }
    h1{
        font-size: 32px;
    }
  }
  .service-box{
      background-color: $forest;
      height: 250px;
      margin-bottom: 2em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 125px;
  }
  .col-sm-3 {
      float: none;
      @include mq($S){
          float: right;
      }
  }
  .service-menu{
    li{
      display: block;
      border: 3px solid $forest;
      margin-bottom: 10px;
        a {
          display: block;
          padding: 15px 0;
          color: $forest;
          &:hover {
            color: #fff;
            background-color: $forest;
        }
      }
      &.cta {
          a{
              color: white;
              font-family: $header-text;
              font-size: 18px;
              text-transform: uppercase;
          }
      }
    }
  }
  .sample-imgs{
    margin-bottom: 2em;
    img{
      border: 1px solid $black;
    }
  }
}
